<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People Project - List</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cf58f20acf.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark text-white">
    <div class="container text-center border border-success border-top-0 rounded-bottom bg-success pt-3 pb-3 mb-5">
        <h1 class="text-white">People & Credit cards</h1>
    </div>

    <div class="container">
        <div class="btn-group btn-group-lg col">
            <a th:href="@{/add}" class="border border-light border-top-0 border-bottom-0 border-left-0 btn btn-success">
                Add a new person
            </a>
            <button class="border border-light border-top-0 border-bottom-0 btn btn-success"
                    data-toggle="collapse" data-target="#search-container"
               aria-expanded="false" aria-controls="search-container">
                Search
            </button>
            <a th:href="@{/list}" class="border border-light border-top-0 border-bottom-0 btn btn-success">
                Reset search filter
            </a>
            <form th:action="@{/export}" method="POST"
                  class="border border-light border-top-0 border-bottom-0 btn btn-success d-flex m-0 p-0">
                <input type="submit" value="Export" class="btn btn-success flex-fill">
            </form>
            <a th:href="@{/}" class="border border-light border-top-0 border-bottom-0 border-right-0 btn btn-success">
                Return
            </a>
        </div>
    </div>

    <div class="collapse" id="search-container">
        <div class="container col-lg-10 mt-3 mb-3">
            <div class="bg-dark text-white border border-light border-right-0 border-left-0 pt-4 pb-4">
                <form th:action="@{/list}" method="GET">
                    <div class="row input-group col">
                        <div class="input-group-prepend">
                            <select class="custom-select" id="search-key" name="search-key">
                                <option value="firstName">First Name</option>
                                <option value="lastName">Last Name</option>
                                <option value="email">Email</option>
                                <option value="gender">Gender</option>
                                <option value="creditCardType">Credit Card Type</option>
                                <option value="creditCardNumber">Credit Card Number</option>
                            </select>
                        </div>
                        <input class="col" type="text" id="search-value" name="search-value" />
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <table class="table text-white">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Credit Card Type</th>
                <th>Credit Card Number</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="person : ${people}">
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person.gender}"></td>
                    <td th:text="${person.creditCardType}"></td>
                    <td th:text="${person.creditCardNumber}"></td>
                    <td>
                        <button th:id="'edit' + ${person.id}" class="btn btn-sm btn-warning edit-button">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td>
                        <button th:id="'delete' + ${person.id}" class="btn btn-sm btn-danger delete-button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/list.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</body>
</html>